/* Override margins for figures. */
figure {
  margin-top: 0;
  margin-bottom: 0;
}

figure img {
  margin-left: auto;
  margin-right: auto;
}

/* Make homepage section padding compact. */
.home-section {
  padding: 60px 0 60px 0;
}

/* Hero title: use brand color and bigger font. */
.hero-title {
  color: #00d1b2;
  font-weight: 600;
  font-size: 3rem;
}

/* Normal font weight for menu. */

.navbar-light .navbar-nav > .nav-item > .nav-link,
.navbar-light .navbar-nav > .nav-item > .nav-link:focus,
.navbar-light .navbar-nav > .nav-item > .nav-link:hover {
  font-weight: 400;
}

/* Docs: custom TOC foot. */

.connect-widget {
  margin-top: 30px;
  font-size: 0.7rem;
}

.connect-widget ul {
  list-style: none;
  padding-left: 5px;
}

/* Center tweets. */

#tweets iframe {
  margin-left: auto !important;
  margin-right: auto !important;
}
